.content:not(.content-current) {
  display: none;
}

.section-title {
  text-align: center;
  margin-top: 90px;
  font-size: 50px;
  font-weight: 300;
}

.content {
  padding-left: 9%;
  padding-right: 9%;
}