/* FOR STYLING EVERYTHING NOT STYLED IN A SPECIFIC CSS PAGE */
* {
  padding: 0px;
  margin: 0px;
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Muli', sans-serif;
  color: var(--color-foreground-main);
}

body {
  background-color: var(--color-background-start);
  overflow: hidden;
}

.weight-light {
  font-weight: 300;
}

.main-wrapper {
  display: inline-block;
  width: 85%;
  vertical-align: top;
  margin-top: 200px;
}

#main-title {
  font-size: 50px;
  text-align: center;
  display: none;
}

.catch-phrase {
  display: none;
  font-weight: 300;
  font-size: 23px;
  font-size: 50px;
  margin-left: 30px;
}

#catch-phrase-0, #catch-phrase-2, #catch-phrase-4 {
  margin-top: 195px;
}

#catch-phrase-3 {
  margin-top: -80px;
  margin-bottom: 40px;
}

#catch-phrase-1 {
  /* margin-top: 195px; */
}

#left-arrow, #right-arrow {
  position: absolute;
  display: none;
  width: 25px;
}

#left-arrow {
  margin-left: 2%;
}

#right-arrow {
  margin-left: 3.5%;
}

.edge-wrapper {
  display: inline-block;
  width: 7.5%;
  height: 100px;
}

#left-arrow:hover, #right-arrow:hover {
  cursor: pointer;
}

.push-down {
  width: 100%;
  margin-top: 100px;
}

.grey {
  color: rgb(130,130,130);
}

#external-icon-logos img:first-child,
 #external-icon-logos img:nth-child(2),
  #external-icon-logos img:nth-child(3) {
  opacity: 0;
  filter: alpha(opacity=0);
}

#external-icon-logos img{
  display: block !important;
  margin-left: 45px;
  margin-bottom: 20px;
}

.turquoise {
  color: var(--color-emphasis);
}

#content-1 p {
  margin-left: 100px;
}

#content-1 p, #content-1 ul {
  width: 450px;
  margin-top: 40px !important;
}

#content-1 ul {
  margin-left: 100px;
  list-style-type: none;
}

#content-1 ul li {
  margin-top: 20px;
}

.left-bar {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--color-foreground-main);
  padding-left: 20px;
}





/**/